
video {
 object-fit: cover;
 width: 100vw;
 height: 100vh;
 position: fixed;
 top: 0;
  left: 0;
 z-index: -1;
}

.search {
  width: 100%;
  padding: 12px 54px;
  background-color: transparent;
  font-size: 14px;
  line-height: 18px;
  color: #575756;
  background-color: transparent;
  margin-left: -50px;
  box-shadow: inset 0px 0px 0px 4px #ddd6e8;
  border: 1px solid black;
  
  }

  ::placeholder{
    color: black;
  }

  .container {
    display: flex;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.5);

}


.container2{
  display: inline-block;;
  margin-left: 23vh;

}
    
.info{
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.5);
  border: 2px solid black;
  padding: 22px;
  margin: 20px;
  width: 350px;

}


@media only screen and (max-device-width: 800px) {
  .container2{
    display: inline-block;;
    margin-left: auto;

  }

  video {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
     left: 0;
    z-index: -1;
   }
.info{
  width: 200px;
  margin-left: 10vh;

}
 
}



